/* Responsive */
/* Mobile (small) */
@media screen and (min-width:320px) and (max-width:374px) {
    /* Login box */
    .login_container {
        width: 300px;
    }
    /* Login title */
    .login_title {
        font-size: 16pt;
    }
    .university_logo {
        width: 25px;
        height: 25px;
    }
    /* Form */
    .form_intro {
        font-size: 11pt;
    }
    .form_input {
        width: 200px;
    }
    .guide_text {
        font-size: 11pt;
    }
    /* Loading modal */
    .loading_box {
        width: 275px;
    }
    .progress {
        width: 225px;
    }
    /* Error modal */
    .error_box {
        width: 275px;
    }
    .error_icon {
        width: 45px;
        height: 45px;
    }
    .gears {
        font-size: 45px;
    }
}

/* Mobile (medium) */
@media screen and (min-width:375px) and (max-width:424px) {
    /* Login box */
    .login_container {
        width: 350px;
    }
    /* Login title */
    .login_title {
        font-size: 16pt;
    }
    .university_logo {
        width: 25px;
        height: 25px;
    }
    /* Form */
    .form_intro {
        font-size: 11pt;
    }
    .form_input {
        width: 250px;
    }
    .guide_text {
        font-size: 11pt;
    }
    /* Loading modal */
    .loading_box {
        width: 300px;
    }
    .progress {
        width: 250px;
    }
    /* Error modal */
    .error_box {
        width: 325px;
    }
    .error_icon {
        width: 45px;
        height: 45px;
    }
}

/* Mobile (large) */
@media screen and (min-width:425px) and (max-width:575px) {
    /* Login box */
    .login_container {
        width: 400px;
    }
    /* Login title */
    .login_title {
        font-size: 15pt;
    }
    .university_logo {
        width: 25px;
        height: 25px;
    }
    /* Form */
    .form_intro {
        font-size: 11pt;
    }
    .form_input {
        width: 250px;
    }
    .guide_text {
        font-size: 11pt;
    }
    /* Loading modal */
    .loading_box {
        width: 325px;
    }
    .progress {
        width: 250px;
    }
    /* Error modal */
    .error_box {
        width: 350px;
    }
    .error_icon {
        width: 45px;
        height: 45px;
    }
}

/* Size (small) */
@media screen and (min-width:576px) and (max-width:767px) {
    /* Login box */
    .login_container {
        width: 500px;
    }
    /* Login title */
    .login_title {
        font-size: 16pt;
    }
    .university_logo {
        width: 25px;
        height: 25px;
    }
    /* Form */
    .form_intro {
        font-size: 11pt;
    }
    .form_input {
        width: 275px;
    }
    .guide_text {
        font-size: 11pt;
    }
    /* Loading modal */
    .loading_box {
        width: 400px;
    }
    .progress {
        width: 250px;
    }
    /* Error modal */
    .error_box {
        width: 400px;
    }
    .error_icon {
        width: 45px;
        height: 45px;
    }
}

/* Tablet */
@media screen and (min-width:768px) and (max-width:991px) {
    /* Login box */
    .login_container {
        width: 700px;
    }
    .login_img {
        height: 200px;
    }
    .university_logo {
        width: 35px;
        height: 35px;
    }
    /* Loading modal */
    .loading_box {
        width: 350px;
    }
    .progress {
        width: 250px;
    }
}

/* Laptop (medium) */
@media screen and (min-width:992px) and (max-width:1199px) {
    /* Login box */
    .login_container {
        width: 700px;
    }
    .login_img {
        height: 250px;
    }
    .form_intro {
        font-size: 13pt;
    }
    /* Loading modal */
    .loading_box {
        width: 350px;
    }
    .progress {
        width: 250px;
    }
}

/* Laptop (large) */
@media screen and (min-width:1200px) and (max-width:1439px) {

}

/* Size (extra_large) */
@media screen and (min-width:1440px) and (max-width:2559px) {

}